#rcorners1 {
  border-radius: 39px;
  border: 3px solid #000000;
  padding: 20px; 
}

div.linespacing {
  line-height: 60%;
}

div.line {
  position: absolute;
  top: 35px;
  right: 635px;
}

div.line2 {
  position: absolute;
  top: 35px;
  right: 1075px;
}

div.one {
  position: absolute;
  top: 60px;
  right: 1075px;
  column-width: 300px;
}

div.two {
  position: absolute;
  top: 80px;
  right: 1075px;
  column-width: 300px;
}

div.three {
  position: absolute;
  top: 100px;
  right: 1075px;
  column-width: 300px;
}

div.four {
  position: absolute;
  top: 120px;
  right: 1075px;
  column-width: 300px;
}

div.five {
  position: absolute;
  top: 140px;
  right: 1075px;
  column-width: 300px;
}

div.six {
  position: absolute;
  top: 160px;
  right: 1075px;
  column-width: 300px;
}

div.seven {
  position: absolute;
  top: 180px;
  right: 1075px;
  column-width: 300px;
}

div.eight {
  position: absolute;
  top: 200px;
  right: 1075px;
  column-width: 300px;
}

div.nine {
  position: absolute;
  top: 220px;
  right: 1075px;
  column-width: 300px;
}

div.ten {
  position: absolute;
  top: 240px;
  right: 1075px;
  column-width: 300px;
}

div.eleven {
  position: absolute;
  top: 260px;
  right: 1075px;
  column-width: 300px;
}

div.twelve {
  position: absolute;
  top: 280px;
  right: 1075px;
  column-width: 300px;
}

div.thirteen {
  position: absolute;
  top: 300px;
  right: 1075px;
  column-width: 300px;
}

div.fourteen {
  position: absolute;
  top: 320px;
  right: 1075px;
  column-width: 300px;
}

div.fifteen {
  position: absolute;
  top: 340px;
  right: 1075px;
  column-width: 300px;
}

div.sixteen {
  position: absolute;
  top: 360px;
  right: 1075px;
  column-width: 300px;
}

div.seventeen {
  position: absolute;
  top: 380px;
  right: 1075px;
  column-width: 300px;
}

div.eighteen {
  position: absolute;
  top: 400px;
  right: 1075px;
  column-width: 300px;
}

div.nineteen {
  position: absolute;
  top: 420px;
  right: 1075px;
  column-width: 300px;
}

div.twenty {
  position: absolute;
  top: 440px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-one {
  position: absolute;
  top: 460px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-two {
  position: absolute;
  top: 480px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-three {
  position: absolute;
  top: 500px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-four {
  position: absolute;
  top: 520px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-five {
  position: absolute;
  top: 540px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-six {
  position: absolute;
  top: 560px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-seven {
  position: absolute;
  top: 580px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-eight {
  position: absolute;
  top: 600px;
  right: 1075px;
  column-width: 300px;
}

div.twenty-nine {
  position: absolute;
  top: 620px;
  right: 1075px;
  column-width: 300px;

}

div.thirty {
  position: absolute;
  top: 640px;
  right: 1075px;
  column-width: 300px;
}
