#rcorners1 {
  border-radius: 39px;
  border: 3px solid #000000;
  padding: 20px; 
}

div.linespacing {
  line-height: 60%;
}

div.line {
  position: absolute;
  top: 35px;
  right: 635px;
}

div.line2 {
  position: absolute;
  top: 35px;
  right: 1075px;
}